@import "tailwindcss";


@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 20s linear infinite;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}



/* ICON FLOAT */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

.float-icon{
  animation: float 2s ease-in-out infinite;
}

/* SHIMMER LIGHT SWEEP */

.icon-container{
  position: relative;
  overflow: hidden;
}

.shine{
  position:absolute;
  top:0;
  left:-200px;
  width:150px;
  height:100%;
  background:linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.6),
    transparent
  );
  animation:shineMove 2.5s infinite;
}

@keyframes shineMove{
  0%{
    left:-200px;
  }
  100%{
    left:100%;
  }
}

/* LOADING DOTS */

.loading-text::after{
  content:"...";
  animation:dots 1.5s infinite;
}

@keyframes dots{
  0%{content:".";}
  33%{content:"..";}
  66%{content:"...";}
  100%{content:".";}
}



